@use "../abstracts" as abs;
.banner {
  padding: 100px 0;
  background: abs.$bg-color;
  &__inner {
    @include abs.flex(row, wrap, space-evenly);
    gap: 45px;
  }
  &__content {
    flex: 1;
    // min-width: 400px;
    // max-width: 470px;
    // width: 100%;
  }
  &__heading {
    color: var(--text-color);
    font-size: 58px;
    font-style: normal;
    font-weight: 700;
    line-height: 66px; /* 106.452% */
    @include abs.breakpoints(md) {
      font-size: 3.2rem;
      line-height: 131.25%;
    }
  }
  &__desc {
    color: var(--text-color);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
    padding-top: 10px;
    padding-bottom: 40px;
    @include abs.breakpoints(md) {
      font-size: 1.4rem;
      line-height: 171.429%;
    }
  }
  &__actions {
    @include abs.flex(row, wrap);
    gap: 18px;
  }
  &__reviews {
    margin-top: 98px;
    @include abs.breakpoints(lg) {
      margin-top: 38px;
    }
    &-count {
      display: block;
      color: var(--text-color);
      font-size: 22px;
      font-style: normal;
      font-weight: 700;
      line-height: 32px; /* 145.455% */
      padding-top: 16px;
    }
    &-score {
      color: var(--text-color);
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 28px; /* 155.556% */
      padding-top: 8px;
      padding-bottom: 16px;
    }
    &-link {
      color: var(--text-color);
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: 28px;
      text-decoration: underline;
      text-underline-offset: 6px; /* Khoảng cách 6px */
      transition: abs.$textTransition;
      &:hover {
        color: abs.$blue;
      }
    }
  }
  &__star {
    width: 28px;
    filter: brightness(0) saturate(100%) invert(75%) sepia(85%) saturate(747%)
      hue-rotate(341deg) brightness(101%) contrast(99%);
  }
  //images
  &-std {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    min-height: 680px;
    @include abs.breakpoints(md) {
      gap: 19px;
    }
    @include abs.breakpoints(sm) {
      max-height: 405px;
      height: 100%;
      margin-bottom: 19px;
    }
    &__first {
      max-width: 270px;
    }
    &__second {
      max-width: 270px;
      @include abs.flex(column);
      position: relative;
      // max-width: 300px;
    }
    &__image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &__top {
      width: 100%;
      max-height: 412px;
      height: 100%;
      margin-bottom: 30px;
      border-radius: 80px 0 80px 0;
      overflow: hidden;
      @include abs.breakpoints(md) {
        margin-bottom: 19px;
      }
      @include abs.breakpoints(sm) {
        height: 80%;
        margin-bottom: 19px;
      }
    }
    &__right {
      // order: 1;
      height: 328px;
      border-radius: 0 80px 0 0;
      overflow: hidden;
    }
    &__bottom {
      // order: 2;
      position: absolute;
      aspect-ratio: 1 / 1;
      // max-width: 330px;
      max-height: 270px;
      width: 100%;
      height: 100%;
      top: 240px;
      // right: -29px;
      // border-top: 30px solid abs.$bg-color;
      // border-right: 30px solid abs.$bg-color;
      // border: 30px solid abs.$bg-color;
      outline: 30px solid abs.$bg-color;
      border-radius: 100%;
      overflow: hidden;
      @include abs.breakpoints(md) {
        outline: 19px solid abs.$bg-color;
      }
    }
    &__left {
      max-height: 232px;
      height: 100%;
      border-radius: 0 0 0 80px;
      overflow: hidden;
    }
    &__scroll {
      position: absolute;
      width: 100%;
      margin: 0 auto;
      bottom: 0;
      text-align: center;
      // display: flex;
      // flex-direction: columns;
      // align-items: center;
      // justify-content: center;
      bottom: 0;
      &-title {
        display: block;
        color: var(--text-color);
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 28px; /* 155.556% */
        padding-top: 12px;
      }
    }
  }
}
