@use "../abstracts" as abs;
.btn {
  display: block;
  color: #fff;
  text-align: center;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 700;
  line-height: 155.556%; /* 155.556% */
  border-radius: 4px;
  background: #0b0d21;
  transition: var(--smooth);
  &--login {
    padding: 0.8rem 2.5rem;
    @include abs.breakpoints(lg) {
      margin-top: 18px;
    }
    &:hover {
      background: abs.$blue;
      box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.1); // background: abs.$blue;
    }
  }
  &--banner {
    padding: 1.5rem 3.5rem;
    border-radius: 8px;
    &:hover {
      background: abs.$blue;
      box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.1); // background: abs.$blue;
    }
  }
  &--start {
    padding: 1.5rem 3.5rem;
    color: var(--text-color);
    background: abs.$yellow;
    &:hover {
      box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.1); // background: abs.$blue;
    }
  }
  &--card {
    color: var(--text-color);
    padding: 1.5rem 3.5rem;
    background: #fff;
    border: 1px solid var(--text-color);
    border-radius: 6px;
  }
  &--view {
    margin: 0 auto;
    padding: 1.5rem 3.5rem;
    color: var(--text-color);
    background: abs.$yellow;
    &:hover {
      box-shadow: 0px 16px 42px 0px rgba(0, 0, 0, 0.1); // background: abs.$blue;
    }
  }
  &--sub {
    padding: 1.5rem 3.5rem;
    border-radius: 8px;
  }
}
