<div class="container">
  <div class="footer__inner">
    <div class="row">
      <div class="col-12 col-md-8">
        <div class="row">
          <div class="col-12 col-md-6 col-lg-5">
            <div class="footer__section">
              <h3 class="footer__title">Courses</h3>
              <ul class="footer__list">
                <li class="footer__item">
                  <a href="#" class="footer__link">Classroom Courses</a>
                </li>
                <li class="footer__item">
                  <a href="#" class="footer__link">Virtual Classroom Courses</a>
                </li>
                <li class="footer__item">
                  <a href="#" class="footer__link">E-Learning Courses</a>
                </li>
                <li class="footer__item">
                  <a href="#" class="footer__link">University Courses</a>
                </li>
                <li class="footer__item">
                  <a href="#" class="footer__link">University Degree</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3">
            <div class="footer__section">
              <h3 class="footer__title">Tutelage</h3>
              <ul class="footer__list">
                <li class="footer__item">
                  <a href="#" class="footer__link">About us</a>
                </li>
                <li class="footer__item">
                  <a href="#" class="footer__link">Why Circuit</a>
                </li>
                <li class="footer__item">
                  <a href="#" class="footer__link">Testimonials</a>
                </li>
                <li class="footer__item">
                  <a href="#" class="footer__link">Promotions</a>
                </li>
                <li class="footer__item">
                  <a href="#" class="footer__link">Blog</a>
                </li>
                <li class="footer__item">
                  <a href="#" class="footer__link">Podcasts</a>
                </li>
                <li class="footer__item">
                  <a href="#" class="footer__link">Forum</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-md-6 col-lg-3">
            <div class="footer__section">
              <h3 class="footer__title">Help</h3>
              <ul class="footer__list">
                <li class="footer__item">
                  <a href="#" class="footer__link">Contact us</a>
                </li>
                <li class="footer__item">
                  <a href="#" class="footer__link">Our Venues</a>
                </li>
                <li class="footer__item">
                  <a href="#" class="footer__link">My account</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="footer__contact">
          <div class="">
            <h3 class="footer__contact-title">Email us</h3>
            <a class="footer__email" href="mailto:email@gmail.com"
              >email@gmail.com</a
            >
          </div>
          <div class="">
            <h3 class="footer__contact-title">Call us</h3>
            <a href="#!" class="footer__phone">000 1234 5678</a>
          </div>
        </div>
        <div class="footer__social">
          <a href="#" class="footer__icon">
            <img
              src="../assets/icons/fb.svg"
              alt=""
              class="footer__icon--facebook"
            />
          </a>
          <a href="#" class="footer__icon footer__icon--highlight">
            <img
              src="../assets/icons/linked.svg"
              alt=""
              class="footer__icon--linked"
            />
          </a>
          <a href="#" class="footer__icon">
            <img
              src="../assets/icons/twiter.svg"
              alt=""
              class="footer__icon--twiter"
            />
          </a>
        </div>
      </div>
    </div>
    <!-- end footer-heading -->
    <div class="footer__bottom">
      <a href="/" class="logo">
        <img src="./assets/icons/logo.svg" alt="logo" class="logo__icon" />
        <h1 class="logo__title">tutelage</h1>
      </a>
      <div class="footer__payments">
        <img src="../assets/icons/paypol.svg" alt="" class="" />
      </div>
      <p class="footer__copyright">
        Copyright © 2022 UIHUT all rights reserved.
      </p>
    </div>
  </div>
</div>
